<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="51170JrmyThiriet.Velov" Publisher="CN=D9862657-7426-44B6-8188-EF87B3656959" Version="1.1.0.7" />
  <Properties>
    <DisplayName>Velov</DisplayName>
    <PublisherDisplayName>Jérémy Thiriet</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Velov.Windows.App">
      <m2:VisualElements DisplayName="Velov" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="Velov.Windows" ForegroundText="light" BackgroundColor="#464646" ToastCapable="false">
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
        <m2:ApplicationView MinWidth="default" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>